html {
    overflow-x: hidden;
    /* temporary fix for bottom scroll for chrome */
}



body {
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.logo {
    height: 100%;
    width: 200px;
}

.menu,
.header {
    display: flex;
    align-items: center;
}

.header {
    padding: 20px;
    justify-content: space-around;
}

.menu {
    gap: 10px;

}

.menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 20px 30px;
}

.menu a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);


    background-color: rgb(250, 70, 22);

}

.container {
    display: flex;
    flex: 1;
    width: 100%;
    /* width: 100vw;
    height: calc(100vh - 38px); 
  */
}

.left,
.right {
    /* de aflat de ce apare bottom scroll in Chrome */
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.left {
    justify-content: space-around;
    align-items: center;
}

.right {
    justify-content: space-evenly;
}

/* selectam primul level de child de tip img */
.left div>img {
    width: 400px;
    height: auto;
}

.right .right-title {
    font-size: 88px;
    font-weight: bold;
    margin: 0;
    padding-right: 40px;
}

.right>div:last-child {
    display: flex;
    gap: 10px;
}

.right>div:last-child>p {
    text-align: justify;
    padding-right: 40px;
    flex-basis: 65%;
}

.right>div:last-child>div:first-child {


    flex-basis: 35%;
}

.right .dispatch-skills {
    padding-inline-start: 20px;
}

#id-marius-transmite-salutari {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    padding: 20px 30px;
    background-color: rgb(250, 70, 22);
    margin: 20px 50px 20px 0;
    display: block;
    text-align: center;

}
footer {
    text-align: center;

    background-color: rgb(250, 70, 22);
    color: white;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
 width: 100%;
    align-items: center;
    justify-content: center;
}

.container-projects {
    display: flex;
    flex: 1;
    width: 100%;
    padding: 20px 40px;
    box-sizing: border-box;
}
.container-projects img {
    width: auto;
    height: auto;
    margin-top: 20px;
    flex-direction: row;
}
.header-projects {
    padding: 20px;
    justify-content: center;
    text-align: center;
}
.container-about {
    display: flex;
    flex: 1;
    width: 100%;
    padding: 0px 20px;
    box-sizing: border-box;
    text-align: center;
}
.container-about p {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.6;
}